				
										<a class="navbar-brand" href="{{@site.url}}" rel="home">
											<span class="navbar-brand-inner">

												<picture>
													<source width="200" srcset="{{@site.url}}/assets/img/logosfinal/logo-full-flat-purple-black.webp" type="image/webp">
													<source width="200" srcset="{{@site.url}}/assets/img/logosfinal/logo-full-flat-purple-black.svg" type="image/svg">
													<img class="logo-dark" width="200" src="{{@site.url}}/assets/img/logosfinal/logo-full-flat-purple-black.png" alt="OAKwave marketing strategy">
												</picture>	
												<picture>
													<source width="200" srcset="{{@site.url}}/assets/img/logosfinal/logo-full-flat-purple-black.webp" type="image/webp">
													<source width="200" srcset="{{@site.url}}/assets/img/logosfinal/logo-full-flat-purple-black.svg" type="image/svg">
													<img class="logo-light" width="200" src="{{@site.url}}/assets/img/logosfinal/logo-full-flat-purple-black.png" alt="OAKwave marketing strategy">
												</picture>
												<picture>
													<source width="200" srcset="{{@site.url}}/assets/img/logosfinal/logo-full-flat-purple-black.webp" type="image/webp">
													<source width="200" srcset="{{@site.url}}/assets/img/logosfinal/logo-full-flat-purple-black.svg" type="image/svg">
													<img class="logo-sticky" width="200" src="{{@site.url}}/img/logosfinal/logo-full-flat-purple-black.png" alt="OAKwave marketing strategy">
												</picture>	
                                              <!--  <picture>
													<source width="200" srcset="{{@site.url}}/assets/img/logosfinal/logo-full-stacked-purple-black.webp" type="image/webp">
													<source width="200" srcset="{{@site.url}}/assets/img/logosfinal/logo-full-stacked-purple-black.svg" type="image/svg">
													<img class="mobile-logo" width="200"  src="{{@site.url}}/assets/img/logosfinal/logo-full-stacked-purple-black.png" alt="OAKwave">
												</picture>-->		
												<picture>
													<source width="5%" srcset="{{@site.url}}/assets/img/logosfinal/logo-full-flat-purple-white.webp" type="image/webp">
													<source width="5%" srcset="{{@site.url}}/assets/img/logosfinal/logo-full-flat-purple-white.svg" type="image/svg">
													<img width="5%" class="logo-default" src="{{@site.url}}/assets/img/logosfinal/logo-full-flat-purple-white.png" alt="OAKwave marketing strategy">
												</picture>												</span>
										</a>
										<button type="button" class="navbar-toggle collapsed nav-trigger style-mobile" data-toggle="collapse"
										 data-target="#main-header-collapse" aria-expanded="false" data-changeclassnames='{ "html": "mobile-nav-activated overflow-hidden" }'>
											<span class="sr-only">Toggle navigation</span>
											<span class="bars">
												<span class="bar"></span>
												<span class="bar"></span>
												<span class="bar"></span>
											</span>
										</button>
							