<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="theme-color" content="#7254c9">

		<link rel="shortcut icon" href="./favicon.png" />

		<title>{{meta_title}}</title>
		<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">


		<link rel="stylesheet" href="{{asset "vendors/liquid-icon/liquid-icon.min.css"}}" />
		<link rel="stylesheet" href="{{asset "css/theme-vendors.min.css"}}" />
		<link rel="stylesheet" href="{{asset "css/theme.css"}}" />
		<link rel="stylesheet" href="{{asset "css/themes/wave.css"}}" />
<script async src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

		<!-- Head Libs -->
		<script async src="{{asset "vendors/modernizr.min.js"}}"></script>
 {{> fbpixel}}
        {{!> quora}}
    {{> google-analytics}}
    {{!> hotjar}}
    {{ghost_head}}
        <script src="https://kit.fontawesome.com/dd47f1ac1c.js" crossorigin="anonymous"></script>

	</head>

	<body class="lqd-stack-buttons-style-2 header-style-fullscreen bg-vulcan" data-mobile-nav-trigger-alignment="right" data-mobile-nav-align="left" data-mobile-nav-style="modern" data-mobile-nav-shceme="gray" data-mobile-header-scheme="gray" data-mobile-nav-breakpoint="1199">

		<div id="wrap">

			<header class="main-header header-fullscreen header-fullscreen-style-1 main-header-overlay">

				<div class="mainbar-wrap">
					<div class="megamenu-hover-bg"></div><!-- /.megamenu-hover-bg -->
					<div class="container-fluid mainbar-container">
						<div class="mainbar">
							<div class="row mainbar-row align-items-lg-stretch px-4">

								<div class="col">
		
								</div><!-- /.col -->

								<div class="col text-right">

									<div class="header-module">
										<button class="nav-trigger collapsed style-1 fill-solid scheme-light txt-left main-nav-trigger" role="button"
										 type="button" data-toggle="collapse" data-target="#main-header-collapse" aria-expanded="false" aria-controls="main-header-collapse"
										 data-changeclassnames='{ "html": "overflow-hidden" }'>
											<span class="bars">
												<span class="bar"></span>
												<span class="bar"></span>
												<span class="bar"></span>
											</span>
											<span class="txt">Menu</span>
										</button>
									</div><!-- /.header-module -->

									<div class="collapse navbar-collapse navbar-fullscreen" id="main-header-collapse" aria-expanded="false" role="tablist">
										
										<ul class="main-nav main-nav-hover-underline-1 nav align-items-lg-stretch justify-content-lg-center main-nav-hover-underline-1 main-nav-fullscreen-style-1">
											<li>
												<a href="#">
													<span class="link-icon"></span>
													<span class="link-txt">
														<span class="link-ext"></span>
														<span class="txt">Home</span>
													</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="link-icon"></span>
													<span class="link-txt">
														<span class="link-ext"></span>
														<span class="txt">Portfolio</span>
													</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="link-icon"></span>
													<span class="link-txt">
														<span class="link-ext"></span>
														<span class="txt">About</span>
													</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="link-icon"></span>
													<span class="link-txt">
														<span class="link-ext"></span>
														<span class="txt">Blog</span>
													</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="link-icon"></span>
													<span class="link-txt">
														<span class="link-ext"></span>
														<span class="txt">Contact</span>
													</span>
												</a>
											</li>
										</ul>

										<div class="header-module">
											<ul class="social-icon scheme-white social-icon-md">
												<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#" target="_blank"><i class="fa fa-behance"></i></a></li>
											</ul>
										</div><!-- /.header-module -->

									</div><!-- /.collapse -->

								</div><!-- /.col -->

							</div><!-- /.mainbar-row -->
						</div><!-- /.mainbar -->
					</div><!-- /.mainbar-container -->
				</div><!-- /.mainbar-wrap -->

			</header><!-- /.main-header -->

			<main id="content" class="content bg-vulcan" data-liquid-stack="true" data-stack-options='{"navigation":false,"prevNextButtons":true,"pageNumber":true,"prevNextLabels":{"prev":"Previous","next":"Next"},"effect":"fadeScale", "disableOnMobile": false}'>

				<section class="bg-vulcan vc_row fullheight d-flex flex-wrap align-items-center py-5 py-md-0">

				{{> "particles"}}

					<div class="container">
						<div class="row">

							<div class="lqd-column col-lg-10">

								<div class="lqd-promo-wrap text-white">
									<div class="lqd-promo-inner">
										
								
										{{> dynamic-shape}}
										{{> promo-message}}
								
										<div class="lqd-promo-img">
											<div class="lqd-promo-img-inner" data-reveal="true" data-reveal-options='{ "direction": "lr", "bgcolor": "#7D5BA6", "revealSettings": { "onCoverAnimations": { "scale": [2, 1] } } }'>
										<picture>
  <source srcset="{{asset "img/cthulu.webp"}}" type="image/webp">
  <img class="img-fluid metalpurple" src="{{asset "img/cthulu.png"}}" alt="OAKwave marketing strategy">
</picture>	
											</div><!-- /.lqd-promo-img-inner -->
										</div><!-- /.lqd-promo-img -->
								
										<div class="lqd-promo-content"
											data-custom-animations="true"
											data-ca-options='{ "triggerHandler": "inview", "animationTarget": ".btn", "duration": 800, "startDelay": 1300, "initValues": { "translateY": 70, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'
										>
											<h2
												class="text-white"
												data-split-text="true"
												data-split-options='{ "type": "chars, words" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 800, "startDelay": 800, "delay": 70, "initValues": { "translateX": 70, "rotateY": 65, "opacity": 0 }, "animations": { "translateX": 0, "rotateY": 0, "opacity": 1 } }'> Hi.  <br /><span style="font-size: 3rem">We need to talk.</span></h2>
										
											<p
												data-split-text="true"
												data-split-options='{ "type": "lines" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 800, "startDelay": 1000, "delay": 120, "initValues": { "translateY": 50, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'>It's about your marketing and sales strategy again... It's been... underwhelming. We feel you should demand more of your marketing spend.</p>
											<a href="#Section-2" class="btn btn-underlined text-uppercase font-size-12 font-weight-bold ltr-sp-2 color-secondary text-hover-white">
												<span>
													<span class="btn-txt">That's Accurate. <i class="fas fa-arrow-circle-right"></i></span>
												</span>
											</a>
										</div><!-- /.lqd-promo-content -->
								
									</div><!-- /.lqd-promo-inner -->
								</div><!-- /.lqd-promo-wrap -->

							</div><!-- /.col-md-8 col-md-offset-2 -->

						</div><!-- /.row -->
					</div><!-- /.container -->

				</section>

				<section class="vc_row fullheight d-flex flex-wrap align-items-center py-5 py-md-0 bg-vulcan">

{{> "particles" }}

					<div class="container">
						<div class="row">

							<div class="lqd-column col-lg-10 col-md-offset-2">

								<div class="lqd-promo-wrap lqd-promo-reverse text-white">
									<div class="lqd-promo-inner">
								
								{{> dynamic-shape}}
								{{> promo-message}}
								
										<div class="lqd-promo-img">
											<div class="lqd-promo-img-inner" data-reveal="true" data-reveal-options='{ "direction": "rl", "bgcolor": "#7D5BA6", "revealSettings": { "onCoverAnimations": { "scale": [2, 1] } } }'>
													 <picture>
  <source srcset="{{asset "img/ducky2.webp"}}" type="image/webp">
  <img class="ducky img-fluid" src="{{asset "img/ducky2.png"}}" alt="OAKwave marketing strategy">
</picture>	
											</div><!-- /.lqd-promo-img-inner -->
										</div><!-- /.lqd-promo-img -->
								
										<div class="lqd-promo-content"
											data-custom-animations="true"
											data-ca-options='{ "triggerHandler": "inview", "animationTarget": ".btn", "duration": 800, "startDelay": 1300, "initValues": { "translateY": 70, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'
										>
											<h2
												class="text-white font-smallish"
												data-split-text="true"
												data-split-options='{ "type": "chars, words" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 200, "startDelay": 10, "delay": 10, "initValues": { "translateX": 70, "rotateY": 65, "opacity": 0 }, "animations": { "translateX": 0, "rotateY": 0, "opacity": 1 } }'
											style="font-size: xx-large">We help businesses <span class="purplish" style="color: #7D5BA6">quit duckin' around</span> with marketing.</h2>
											<br /><p
												data-split-text="true"
												data-split-options='{ "type": "lines" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 200, "startDelay": 20, "delay": 20, "initValues": { "translateY": 50, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'>
												We could make a site that says all the usual agency s@#$, but you don’t have time for that and neither do we.  </p>
											<a href="#Section-3" class="btn btn-underlined text-uppercase font-size-12 font-weight-bold ltr-sp-2 color-secondary text-hover-white">
												<span>
													<span class="btn-txt">Show the need-to-know info <i class="fas fa-arrow-circle-right"></i></span><br />
													<span class="btn-txt">Schedule a call<i class="fas fa-arrow-circle-right"></i></span>
												</span>
											</a>
										</div><!-- /.lqd-promo-content -->
								
									</div><!-- /.lqd-promo-inner -->
								</div><!-- /.lqd-promo-wrap -->

							</div><!-- /.col-md-8 col-md-offset-2 -->

						</div><!-- /.row -->
					</div><!-- /.container -->

				</section>

				<section class="vc_row fullheight d-flex flex-wrap align-items-center py-5 py-md-0 bg-vulcan">

				{{> "particles" }}
					<div class="container">
						<div class="row">

							<div class="lqd-column col-lg-10 col-lg-offset-1">

								<div class="lqd-promo-wrap text-white">
									<div class="lqd-promo-inner">
								
										{{> dynamic-shape}}
								
										{{> promo-message}}
								
										<div class="lqd-promo-img">
											<div class="lqd-promo-img-inner" data-reveal="true" data-reveal-options='{ "direction": "rl", "bgcolor": "#7D5BA6", "revealSettings": { "onCoverAnimations": { "scale": [2, 1] } } }'>
											<picture>
  <source srcset="{{asset "images/bobtheblobpartdeux.webp"}}" type="image/webp">
  <img class="bob img-fluid" src="{{asset "images/bobtheblobpartdeux.png"}}" alt="OAKwave marketing strategy">
</picture>
									</div><!-- /.lqd-promo-img-inner -->
									</div><!-- /.lqd-promo-img -->
								
										<div class="lqd-promo-content"
											data-custom-animations="true"
											data-ca-options='{ "triggerHandler": "inview", "animationTarget": ".btn", "duration": 800, "startDelay": 1300, "initValues": { "translateY": 70, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'
										>
											<h2
												class="text-white"
												data-split-text="true"
												data-split-options='{ "type": "chars, words" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 800, "startDelay": 800, "delay": 70, "initValues": { "translateX": 70, "rotateY": 65, "opacity": 0 }, "animations": { "translateX": 0, "rotateY": 0, "opacity": 1 } }'
											style="font-size: xx-large;">Facts:</h2><br />
											<p class="less-room"
												data-split-text="true"
												data-split-options='{ "type": "lines" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 800, "startDelay": 1000, "delay": 120, "initValues": { "translateY": 50, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'
											><span class="btn-txt"><i class="fad fa-alien-monster iconduo" style="color: $soft-purple; --fa-secondary-opacity: 0.5;"></i></span> &nbsp; &nbsp; Hands down, we are the most resourceful, creative, problem-solving marketing geniuses you will ever find.</p><br />
											
											<p class="less-room"
												data-split-text="true"
												data-split-options='{ "type": "lines" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 800, "startDelay": 1100, "delay": 150, "initValues": { "translateY": 50, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'>
												<span class="btn-txt"><i class="fad fa-alien-monster iconduo" style="color: $soft-purple; --fa-secondary-opacity: 0.5;"></i></span> &nbsp; &nbsp; We’re really, really good at campaign concepts, branding, content, and strategy... and really, really bad at corporate frills, small talk, and sending Christmas cards.</p><br />
											
											<p class="less-room"
												data-split-text="true"
												data-split-options='{ "type": "lines" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 800, "startDelay": 1200, "delay": 180, "initValues": { "translateY": 50, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'
											><span class="btn-txt"><i class="fad fa-alien-monster iconduo"></i></span> &nbsp; &nbsp; Your revenue is the only KPI that matters.  Everything else is just <span class="strike purplish">bullshit</span> agency fluff and nonsense to make their retainer look worth it.</p><br />
											
											
											
											<p class="less-room"><!--And here's some more info about how we do <a class="btn btn-underlined text-uppercase font-size-12 font-weight-bold ltr-sp-2 color-secondary text-hover-white" href="#">content, branding, campaigns</a>, or <a class="btn btn-underlined text-uppercase font-size-12 font-weight-bold ltr-sp-2 color-secondary text-hover-white" href="#">strategy</a>.  <br />-->
											<a href="#Section-4" class="btn btn-underlined text-uppercase font-size-12 font-weight-bold ltr-sp-2 color-secondary text-hover-white">
												<span>
													<span class="btn-txt">What else should be known about OAKwave?<i class="fas fa-arrow-circle-right"></i></span>
												</span>
											</a></p>
										</div><!-- /.lqd-promo-content -->
								
									</div><!-- /.lqd-promo-inner -->
								</div><!-- /.lqd-promo-wrap -->

							</div><!-- /.col-md-8 col-md-offset-2 -->

						</div><!-- /.row -->
					</div><!-- /.container -->

				</section>

				<section class="vc_row fullheight d-flex flex-wrap align-items-center py-5 py-md-0 bg-vulcan">

					{{> "particles" }}

					<div class="container">
						<div class="row">

							<div class="lqd-column col-lg-10 col-lg-offset-2">

								<div class="lqd-promo-wrap lqd-promo text-white">
									<div class="lqd-promo-inner">
								{{> "dynamic-shape"}}
									{{> "promo-message"}}
								
										<div class="lqd-promo-img">
											<div class="lqd-promo-img-inner" data-reveal="true" data-reveal-options='{ "direction": "rl", "bgcolor": "#fdf4e9", "revealSettings": { "onCoverAnimations": { "scale": [2, 1] } } }'>
												<picture>
  <source srcset="{{asset "img/formerlywooden.webp"}}" type="image/webp">
  <img class="cthulu img-fluid" src="{{asset "img/formerlywooden.png"}}" alt="OAKwave marketing strategy">
</picture>	
											</div><!-- /.lqd-promo-img-inner -->
										</div><!-- /.lqd-promo-img -->
								
										
										<div class="lqd-promo-content"
											data-custom-animations="true"
											data-ca-options='{ "triggerHandler": "inview", "animationTarget": ".btn", "duration": 800, "startDelay": 1300, "initValues": { "translateY": 70, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'
										>
											<h2
												class="text-white"
												data-split-text="true"
												data-split-options='{ "type": "chars, words" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 800, "startDelay": 800, "delay": 70, "initValues": { "translateX": 70, "rotateY": 65, "opacity": 0 }, "animations": { "translateX": 0, "rotateY": 0, "opacity": 1 } }'
											>Facts:</h2><br />
											<p class="less-room"
												data-split-text="true"
												data-split-options='{ "type": "lines" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 800, "startDelay": 1000, "delay": 120, "initValues": { "translateY": 50, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'
											><span class="btn-txt"><i class="fas fa-alien-monster purplish"></i></span> &nbsp; &nbsp; 	We're not in this business for a retainer, we don't believe in them. In fact, we only work on projects. So for once, you can get an objective opinion on marketing without worrying about who's trying to get to your wallet.</p><br />
											
											<p class="less-room"
												data-split-text="true"
												data-split-options='{ "type": "lines" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 800, "startDelay": 1100, "delay": 150, "initValues": { "translateY": 50, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'>
												<span class="btn-txt"><i class="fas fa-alien-monster purplish"></i></span> &nbsp; &nbsp; We are good people who do what we love for good people who need what we do.  We work hard for every dollar we earn.  You will feel value and walk away knowing your return-on-investment.</p>
											
									
											
											
											<p class="less-room"><!--And here's some more info about how we do <a class="btn btn-underlined text-uppercase font-size-12 font-weight-bold ltr-sp-2 color-secondary text-hover-white" href="#">content, branding, campaigns</a>, or <a class="btn btn-underlined text-uppercase font-size-12 font-weight-bold ltr-sp-2 color-secondary text-hover-white" href="#">strategy</a>.  <br />-->
											<a href="https://www.oakwave.com/about" class="btn btn-underlined text-uppercase font-size-12 font-weight-bold ltr-sp-2 color-secondary text-hover-white">
												<span style="display: block !important;">
													<span style="display:flex block !important;" class="btn-txt">Schedule a Call<i class="fas fa-arrow-circle-right"></i></span>
													<!--	<span class="btn-txt">Learn About Our Process<i class="fas fa-arrow-circle-right"></i></span><br />
														<span class="btn-txt">Learn Where We Come From<i class="fas fa-arrow-circle-right"></i></span><br />-->
														</span><div><span style="display: block !important;" >	<span style="display: block !important;" class="btn-txt">Read Our Blog<i class="fas fa-arrow-circle-right"></i></span></div>
												</span>
											</a></p>
										</div><!-- /.lqd-promo-content -->
								
									</div><!-- /.lqd-promo-inner -->
								</div><!-- /.lqd-promo-wrap -->

							</div><!-- /.col-md-8 col-md-offset-2 -->

						</div><!-- /.row -->
					</div><!-- /.container -->

				</section>


			</main><!-- /#content.content -->

		</div><!-- /#wrap -->

		<script src="{{asset "vendors/jquery.min.js"}}"></script>
		<script src="{{asset "js/theme-vendors.js"}}"></script>
		<script src="{{asset "vendors/pagePiling/dist/jquery.pagepiling.min.js"}}"></script>
		<script src="{{asset "js/theme.min.js"}}"></script>

{{>hubspot}}
    {{!-- Ghost outputs important scripts & data with the {ghost_foot} tag
    it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}


	</body>

</html>
